@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html, body {
  font-size: 10px;
  height: 100%;
  min-height: 100vh;
}

body {
  padding-top: 60px;
  padding-left: 250px;
}

/* ==================== NAVBAR ==================== */
.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar div {
  display: flex;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  height: 100%;
}

.nav-bar .checkLY {
  font-size: 3rem;
  font-weight: 600;
  color: #175873;
}

.checkLY span {
  font-weight: 300;
  color: #29A0B1;
}

/* ==================== PROFILE ==================== */
.profile div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile div h3,
.profile div h4 {
  font-size: 1.3rem;
  width: 100%;
  text-align: end;
}

.profile div h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #71717A;
}

/* ==================== SIDEBAR ==================== */
.sidebar-menu {
  position: fixed;
  left: 0;
  width: 100%;
  max-width: 250px;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* ==================== MAIN BUTTONS ==================== */
.sidebar-menu .main-btns {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.sidebar-menu .main-btns li {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidebar-menu .main-btns li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 7px 0;
  font-size: 1.6rem;
  color: white;
  background-color: #175873;
  border-radius: 10px;
  text-decoration: none;
}

.sidebar-menu .main-btns li a img {
  padding-right: 8px;
}

/* ==================== WORK BUTTONS ==================== */
.work-btns {
  height: 100%;
}

.work-btns h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #71717A;
  padding-left: 10px;
}

.sidebar-menu .work-btns ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.sidebar-menu .work-btns ul li {
  width: 80%;
  padding: 2px;
  margin: 1px 0;
}

.sidebar-menu .work-btns ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding-left: 10px;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}

.sidebar-menu .work-btns ul li a img {
  padding-right: 20px;
}

.sidebar-menu .work-btns ul li a:hover {
  background-color: rgba(182, 182, 182, 0.4);
}

/* ==================== UTIL BUTTONS ==================== */
.util-btns {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.util-btns li {
  display: flex;
  justify-content: center;
  width: 100%;
}

.util-btns li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 70%;
  min-height: 50px;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}

.util-btns li img {
  padding-right: 18px;
}

.util-btns li a:hover {
  background: rgba(182, 182, 182, 0.4);
}
